<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Actualizar Fase de conflicto</h4>
                <form class="m-t-40" novalidate action="/api-sat/conflict-phases/{{conflictPhase.id_fase_conflicto}}/update"
                    method="POST">
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>T&iacute;tulo Fase</h5>
                                    <div class="controls">
                                        <input type="text" name="nombre_fase" class="form-control"
                                            value="{{conflictPhase.nombre_fase}}">
                                    </div>
                                    {{!-- <div class="controls">
                                        <input type="text" name="nombre_fuente" class="form-control" required
                                            data-validation-required-message="This field is required">
                                    </div> --}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Estado</h5>
                                    <div class="controls">
                                        <select name="estado" id="estado_fase" required data-validation-required-message="Este campo es obligatorio" class="select2 form-control">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-xs-right">
                            <button type="submit" class="btn btn-info">Actualizar</button>
                            <a href="/api-sat/conflict-phases-list" type="reset" class="btn btn-inverse">Cancelar</a>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>