<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">Situaci&oacute;n Conflictiva</h6>
                <div class="container-conflict-situation text-center">
                    <div class="conflict-situation">
                        <iframe width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiN2I4ZmMwMmItNTk5Zi00YTQzLTk3YWYtOWQwZTc1OWQ1NzE1IiwidCI6ImRlMjI0OGJlLTY4ZTktNDNlNi04ZmU2LTUxYzFhZjc5ZGE1MSJ9" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>