<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">Indicadores de Contexto</h6>
                <div class="container-heat-map text-center">
                    <div class="Indicadores_Contexto">
                        <iframe title="Indicadores_Contexto" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiMGE5NjM3MmMtNWZkOC00M2ZlLTk1MjQtMGY0ZTlmZGNmZWQ4IiwidCI6ImRlMjI0OGJlLTY4ZTktNDNlNi04ZmU2LTUxYzFhZjc5ZGE1MSJ9&pageName=ReportSection7081319dc729e9c501dc" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>