<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">Fases del Conflicto</h6>
                <div class="container-heat-map text-center">
                    <div class="heat-map">
                        <iframe width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiNGIxZDUxYmUtODIwZC00ZDRiLTliNDAtZDFhMTYyYjUzNTY4IiwidCI6ImRlMjI0OGJlLTY4ZTktNDNlNi04ZmU2LTUxYzFhZjc5ZGE1MSJ9" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>