<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Tema</a></li>
            <li class="breadcrumb-item active">Lista de Temas</li>
        </ol>
    </div>
    <div class="col-md-7 align-self-center text-right d-none d-md-block" style="color: white;">
        <a href="/api-sat/topic/view-create" type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i>
            Nuevo</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">Cat&aacute;logo - Tema</h6>
                <div class="table-responsive m-t-40">
                    <table id="config-table" class="table display table-bordered table-striped no-wrap">
                        <thead>
                            <tr>
                                <th>T&iacute;tulo</th>
                                <th>Estado</th>
                                <th>Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each topicList}}
                            <tr>
                                <td>{{nombre_tema}}</td>
                                <td>{{#stateDetails estado}}{{/stateDetails}}</td>
                                <td>
                                    <a href="/api-sat/topic/{{id_tema}}/view-update" class="btn btn-secondary"
                                        aria-pressed="false">
                                        <i class="ti-pencil text" aria-hidden="true"></i>
                                        <i class="ti-pencil-alt text-active" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>