<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        {{!-- <h3 class="text-themecolor">Agresiones</h3> --}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Administraci&oacute;n</a></li>
            <li class="breadcrumb-item active">Notificaciones a Unidades administrativas</li>
        </ol>
    </div>
    <div class="col-md-7 align-self-center text-right d-none d-md-block" style="color: white;">
        <a href="/api-sat/administrative-units/notify" type="button" class="btn btn-info" style="color: #0036b4; background-color: white;"><i class="fa fa-envolope"></i>
            Notificar a los Usuarios</a>
        <a href="/api-sat/administrative-units/create-view" type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i>
            Nuevo</a>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <!-- table responsive -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Notificaciones a Unidades administrativas</h4>
                <h6 class="card-subtitle">Administraci&oacute;n</h6>
                <div class="table-responsive m-t-40">
                    <table id="config-table" class="table display table-bordered table-striped no-wrap">
                        <thead>
                            <tr>
                                <th>Unidad Administrativa</th>
                                <th>Correo Principal</th>
                                <th>Estado</th>
                                <th>Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each administrativeUnits}}
                            <tr>
                                <td>{{nombre_unidad}}</td>
                                <td>{{correo_prinicipal}}</td>
                                <td>{{#stateDetails estado}}{{/stateDetails}}</td>
                                <td>
                                    <a href="/api-sat/administrative-units/{{id_unidad_administrativa}}/view-update"
                                        class="btn btn-secondary" aria-pressed="false">
                                        <i class="ti-pencil text" aria-hidden="true"></i>
                                        <i class="ti-pencil-alt text-active" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->