<div class="container">
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            {{!-- <h3 class="text-themecolor">Agresiones</h3> --}}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/api-sat/banner-list">Banner</a></li>
                <li class="breadcrumb-item active">Lista Banner</li>
            </ol>
        </div>
    </div>  
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{!-- <h4 class="card-title">Crear Unidad Administrativa</h4> --}}
                    <h6 class="card-subtitle">Formulario del Banner</h6>
                    <form class="m-t-40" novalidate action="/api-sat/banner/create" method="POST" enctype="multipart/form-data">
                        <section>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h5>T&iacute;tulo<span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" placeholder="T&iacute;tulo Banner.."
                                                name="titulo_banner" class="form-control" required
                                                data-validation-required-message="Este campo es obligatorio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h5>Descripci&oacute;n<span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <textarea class="form-control" rows="5" maxlength="140" name="descripcion"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h5>Imagen<span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="file" placeholder="imagen" name="file"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h5>Estado</h5>
                                        <div class="controls">
                                            <select name="estado" id="select" class="form-control">
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-xs-right">
                                <button type="submit" class="btn btn-info">Guardar</button>
                                <a href="/api-sat/banner-list" type="reset" class="btn btn-inverse">Cancelar</a>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>